<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/jquery-3.1.0.min.js"></script>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/inf.js"></script>
    <script src="/js/gameplay.js"></script>
    
    
    <title>Partie - {{title}}</title>
</head>
<body>
   <h1>BIENVENUE SUR VOTRE PARTI <small id="room">{{title}}</small></h1>
    <div id="ctrl-panel" >
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Donne cet URL à tes ami-e-s</span>
            <input class="form-control" aria-describedby="basic-addon3" id="url-party"></input> 
        </div>
        <button type="button" class="btn btn-default" id="disconnect">Déconnection</button>

    </div>
    <div id="enemy-space"></div>
    <div id="center-space"></div>
    <div id="my-space"></div>
    <div id="servermsg"></div>
    <script>

        $(function(){   
            ini('{{connectTo}}', '{{port}}');
            installEvent();
            iniListenerServer();
            
        });  
    </script>
</body>
</html>
