
body{
    background-color: beige;
}

/* -- INDEX -- */

#randomize{
    cursor: pointer;
}

#errormsg{
    color: red;
}

/* -- GAME -- */

.msgctrl {
    margin-bottom: 0px;
}

#center-space{
    height: 100px;
    width: 70px;
    padding: 10px;
    border:  medium dashed black;
    
}

#servermsg{
    margin-top: 2%;
    height: 20%;
    overflow: scroll;
}