
body{
    background-color: beige;
}

/* -- INDEX -- */

#randomize{
    cursor: pointer;
}

#errormsg{
    color: red;
}

/* -- GAME -- */

.msgctrl {
    margin-bottom: 0px;
}

#servermsg{
    margin-top: 2%;
    height: 20%;
    overflow: scroll;
}